<p><%= l(:mail_body_redshare, :shared_by => @shared_by, :redshare_type => @redshare_type) %></p>

<p><%= link_to l(:mail_redshare_link), @issue_url %></p>

<%= render :partial => 'mailer/issue.html', :locals => {:issue => @issue, :issue_url => @issue_url} %>